.menu-section {
    
}

.menu-section ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.menu-section ul li {
    list-style: none;
    text-align: center;
}

.menu-section {
    padding: 10px 0;
}