.menu-section {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.menu-section ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.menu-section ul li {
    list-style: none;
    text-align: center;
}

.menu-section {
    padding: 10px 0;
}

.menu-section .form-search {
    text-align: right;
    position: relative;
}

.menu-section .form-control {
    min-width: 200px;
    padding: 0 10px;
    height: 34px;
}

.menu-section .btn-sucess {
    height: 40px;
    position: absolute;
    right: 0;
    border: none;
    background: none;
}

.form-search img {
    max-width: 25px;
}