.search-section {
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
}

.form-search input {
    padding: 10px 15px;
    min-width: 200px;
    border-radius: 20px;
    border: 1px solid #ededed;
    background-color: #ededed;
}

.form-search input:focus {
    outline: none;
}