.footer-about {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.socials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.socials img {
    max-width: 50px;
}

.footer-credit {
    text-align: center;
}

.footer-credit p {
    font-size: 12px;
}

.footer-credit img {
    max-width: 50px;
}