.liquida-section {
    margin: 50px 0;
}

.liquida-section .title-main-page {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.liquida-section span {
    font-weight: bold;
}

.offers {
    display: grid;
    grid-template-columns: repeat(3, 425px);
}

.offers .box-banner img {
    max-width: 350px;
}