body {
    margin: 0;
    font-size: 14px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: 0;
}

button {
    cursor: pointer;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

.container {
    max-width: 1200px;
    margin: 10px auto;
}